@use 'helpers' as *;

:root {
    --color-light:#FFFFFF;
    --color-dark-light: #00011A;
    --color-dark-gradient: #0F0F0F;
    --color-accent: #1078D7;

    --gradient: linear-gradient(
        123.79deg, 
        var(--color-dark-light) 22.27%, 
        var(var(--color-dark-gradient)) 94.29%
    );

    --border: #{rem(0.75)};

    --font-family-base:'Gilroy', sans-serif;

    --container-width:#{rem(1440)};

    -transition-duration: 0.2s;
}